.section-one-bg{
    border-radius: 0px;
    background: url(https://storage.builderall.com//franquias/2/7235434/editor-html/10428143.png) center center / cover no-repeat scroll border-box white;
    height: 351px;
    min-height: 50px;
    border-style: none;
    border-color: rgb(0, 0, 0);
    border-width: 0px;
}